<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{language_attributes}}> <!--<![endif]-->
{% include 'includes/html-header.twig' %}
{% block head %}
{% endblock %}

    <body class="{{body_class}}" data-source="base.twig">
        <header class="header" >
            {% block header %}
            <div class="wrapper">

                <h1 class="hdr-logo" role="banner">
                    <a class="hdr-logo-link" href="/" title="Timber" rel="home">{{bloginfo('name')}}</a>
                </h1>
            {% include 'includes/navigation.twig' %}

            </div>
            {% endblock %}
        </header>


        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>


        {% include '/includes/footer.twig' %}

    </body>
</html>